* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

body {
  min-height: 100vh;
  background-color: #000;
  display: grid;
  place-items: center;
}

.square{
    display: grid;
    place-items: center;
    font-family: sans-serif;
    height: 100px;
    width: 100px;
    color: #fff;
    border: 2px solid #fff;
    transition: .1s ease;
}
